<!DOCTYPE html>
<html lang="tr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>EMS Chat! v1.0</title>
  </head>
  <body>
    <style media="screen">
      .input-block {
        display: flex;
        margin-top: 30px;
      }
      .input-block input {
        margin-left: 30%;
        margin-right: 20px;
      }
      #chatroom {
        margin-left: 30%;
      }
      #chatroom p {
        padding: 0;
        margin: 5px;
      }
    </style>
    <div id="chatroom"></div>
    <div class="input-block">
      <input type="text" id="username">
      <button type="button" id="change-username">Change Username</button>
    </div>
    <div class="input-block">
      <input type="text" id="message">
      <button type="button" id="send-message">Send</button>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="chat.js"></script>
  </body>
</html>
